body {
  background-color: #1f1f1f;
  margin: 0px;
  padding: 0px;
  color: #1f1f1f;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: normal;
}

head {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 200;
}

h2 {
  max-width: 1120px;
  width: 100%;
  display: inline-block;
  float: center;
  margin: 0px;
}

#page {
  width: 100%;
  text-align: center;
  display: inline-block;
  float: center;
  font-size: 22px;
  height: 100%;
  align: center;
}

#header {

  float: center;
  height: 30%;

}

#intro {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFFFF;
  color: #FFFFFF;
  background-image: url(banner.jpg);
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  padding: 120px 0px 80px 0px;
  width: 100%;
  text-shadow: 0px 1px 4px #000000;
}

#subheader {
  line-height: 60px;
  font-size: 40px;
  color: #ff736c;
  margin-bottom: 0px;
  padding: 24px 0px 20px 0px;
  font-weight: 100;
  letter-spacing: 4px;
}

#menu {
  float: center;
  width: 100%;
  background-color: #ff928c;
  border-width: 0px 0px 2px 0px;
  border-style: none none solid none;
  border-color: #ffbeb0;
  background: linear-gradient(to right, #ff928c, #ffbeb0);
  height: 40px;
  position: fixed;
  font-size: 30px;
  letter-spacing: 2px;
}

#menu-right {
  float: right;
  width: 75%;
  text-align: right;
}

#menu-left {
  padding-left: 2%;
  float: left;
  width: 23%;
  text-align: left;
}

#button {
  width: 30%;
  max-width: 160px;
  vertical-align: bottom, text-bottom;
  font-size: 22px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
}

#button:hover {
  background-color: #FFFFFF;
  color: #ff736c;
}

#button:active {
  background-color: #ff928c;
  color: #FFFFFF;
}

#thumbTitle {
  left: 0;
  width: 100%;
  background-color: inherit;
  height: 40px;
  line-height: 40px;
  display: inline-block;
}

#about-img {
  float: left;
  width: 28%;
}

#about-box {
  background-color: #FFFFFF;
  height: 300px;
  border-radius: 25px;
  box-shadow: 0px 5px 25px #00000030;

  margin: 40px 20px 0px 20px;
}

#about-text {
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  line-height: 40px;
  float: right;
  width: 63%;
  color: #000000;
  padding: 0px 3%;
  margin: 50px 0px;
  letter-spacing: 1px;
}

#info-text {
  font-size: 18.5px;
  color: #000000;
  float: left;
  font-weight: 450;
  margin: 0px 20px;
}

#awards {
  width: 100%;
  text-align: center;
  display: inline-block;
  color: #ff736c;
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: normal;
}

#box-out {
  width: 28%;
  height: 100px;
  display: inline-block;
  font-weight: 300;
  text-align: center;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 2px;
  vertical-align: middle;
  background-color: #FFFFFF;
  margin: 16px 10px;
  padding: 5px 5px;
  border-radius: 15px;
  color: #ff736c;
  box-shadow: 0px 5px 25px #00000030;
}

#box-text {
  font-size: 90%;
}

#tile {
  display: inline-table;
  width: 45%;
  margin: 10px 2%;
}

#socials {
  text-align: center;
  float: center;
  font-size: 24px;
  font-weight: normal;
  vertical-align: middle;
  color: #ff736c;
  margin: 0px 100px;
}

#social {
  display: inline-block;
}

img {
  border-radius: 25px 0px 0px 25px;
}

.fade-in-image {
  animation: fadeIn 2s;
  border-radius: 50%;
  vertical-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {

  #menu {
    width: 100%;
    float: center;
    text-align: center;
  }

  #box-out {
    width: 42%;
  }

  #socials {
    text-align: left;
  }

  #social {
    width: 100%;
  }

  @media only screen and (max-device-width: 1020px) {

    body {
      width: 528px;
    }

    #header {
      display: none;
    }

    #info {
      width: 100%;
      padding: 0px;
    }

    #subheader {
      float: center;
    }

    #page {
      float: center;
      width: 100%;
      text-align: center;
    }

    #thumbLarge {
      width: 100%;
      padding: 0px;
    }

    #about-text {
      width: 58%;
      float: right;
    }

    #about-img {
      width: 38%;
      float: left;
    }

    #thumbSmall {
      display: none;
    }

    #thumbnail {
      width: vw;
      height: vw;
      padding: 0px;
      margin: 0px;
      margin-bottom: 4px;
    }
  }
}